.header {
  margin: 0 0 12px;
}

.title {
  font-size: var(--font-size-600);
  color: var(--colors-white);
  font-weight: 700;
}

.description {
  margin: 4px 0 0;
  font-size: var(--font-size-300);
  color: var(--colors-gray-400);
}
