.sidebar {
    height: 100%;
    padding: 24px 24px 0;
    background-color: var(--colors-sidebar-background);
}

.logo {
    margin: 0 0 16px;
    filter: brightness(0) invert(1);
}

.menuLink {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: var(--font-size-400);
    color: var(--colors-white);
    font-weight: 700;
    transition: var(--transition);
    opacity: .7;
}

.menuLink:hover,
.menuLinkCurrent {
    opacity: 1;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 2px;
}

.iconWrapper svg {
    margin: 0;
}

.iconWrapperCreate {
    color: var(--colors-black);
    background-color: var(--colors-white);
}

.iconWrapperLiked {
    color: var(--colors-white);
    background: linear-gradient(135deg,#450af5,#c4efd9);
}

.playlistsList {
    height: calc(100% - 300px);
    margin: 0 -24px;
    padding: 12px 24px;
    overflow-y: auto;
}

.playlistsLink {
    display: block;
    padding: 4px 0;
    color: var(--colors-white);
    font-size: var(--font-size-300);
    opacity: .7;
}

.playlistsLink:hover {
    opacity: 1;
}
