:root {
    --colors-background-200: #3e3e3e;
    --colors-background-300: #282828;
    --colors-background-400: #121212;
    --colors-background-700: #000000;
    --colors-white: #ffffff;
    --colors-black: #000000;
    --colors-gray-400: #b3b3b3;
    --font-size-300: 13px;
    --font-size-400: 14px;
    --font-size-500: 16px;
    --font-size-600: 20px;
    --font-size-900: 96px;
    --transition: .3s all;
}
